<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">   
    <link rel="stylesheet" href="../static/style.css">
    <title>Generative AI Hackathon</title>
  </head>
  <body>
    <div class="title">
      <h2>Team Data Fusion Cartographers - Generative AI Hackathon</h1>
    </div>
    <hr>
    <h3>Query</h3>
    <form method="post" enctype="multipart/form-data">
      <textarea name="prompt" id="prompt" rows="10" placeholder="Enter your query here..."></textarea>
      <input type="submit" value="Submit">
      <output name="response" for="prompt" {{visibility}}>{{answer}}</output>
    </form>
  </body>
</html>
